<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>view.html</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Ryan Harvey">
	<!-- Date: 2011-04-22 -->
</head>
<body>
	<!-- Load the AJAX API -->
	<script src='http://www.google.com/jsapi'></script>
	
	<!-- Render PieChart -->
	<div id='chart'></div>
	<%= @chart.render('chart') %>
</body>
</html>
